<!DOCTYPE html>
<html lang="en">
    <h1>Welcome to TinyApp</h1>
    <% if(!user_id){ %>
    <h2>Please login/register to start use this service!</h2>
    <div><% include partials/_header %></div>
    <% } %>
<body>
    <% if(user_id){ %>
      <% include urls_new  %>
      <% for(let i = 0; i < Object.keys(urls[user_id]).length; i++){ %>
        <ul>
            <p style="display: inline;">
               <a href="http://localhost:8080/u/<%= Object.keys(urls[user_id])[i] %>">http://localhost:8080/u/<%= Object.keys(urls[user_id])[i] %></a>
               ----> <%= Object.values(urls[user_id])[i] %>
               <button style="display: inline;" onclick="window.location.href = '/urls/<%= Object.keys(urls[user_id])[i] %>';">Update</button>
               <form method="POST" style="display: inline;" action="/urls/<%= Object.keys(urls[user_id])[i] %>?_method=DELETE">
                  <input type="submit" value="Delete">
               </form>
            </p>
        </ul>
      <% } %>
    <% } %>
</body>
</html>